{% ckan_extends %}


{% block meta %}
{{ super() }}
<meta property="og:title" value="{{group_dict.display_name}} - Research Themes - {{ g.site_title }}">
<meta property="og:description"
    value="Explore the core research themes at the Urban Big Data Centre, underpinned by our rich dataset collection. Our thematic focus areas drive forward urban research, addressing critical challenges and uncovering new opportunities in urban environments.">
<meta name="description"
    value="Explore the core research themes at the Urban Big Data Centre, underpinned by our rich dataset collection. Our thematic focus areas drive forward urban research, addressing critical challenges and uncovering new opportunities in urban environments.">
<meta name="og:image" value="{{ h.url_for_static_or_external('/base/images/banner.png') }}">
<meta name="twitter:title" value="{{group_dict.display_name}} - Research Themes - {{ g.site_title }}">
<meta name="twitter:description"
    value="Explore the core research themes at the Urban Big Data Centre, underpinned by our rich dataset collection. Our thematic focus areas drive forward urban research, addressing critical challenges and uncovering new opportunities in urban environments.">
<meta name="twitter:image" value="{{ h.url_for_static_or_external('/base/images/banner.png') }}">
<meta name="twitter:card" value="summary_large_image">
{% endblock %}

{% block content_primary_nav %}
{{ h.build_nav_icon(group_type + '.read', _('Datasets'), id=group_dict.name, icon='sitemap') }}
{{ h.build_nav_icon(group_type + '.about', _('About'), id=group_dict.name, icon='info-circle') }}
{% endblock %}
