<section id="team" data-w-id="8f0657cc-2632-3859-0637-d634b8a5d4a4"
    style="opacity: 1; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
    <div class="padding-global">
        <div class="container-small">
            <div class="padding-section-medium">
                <div>
                    <div class="rich-text-block-2 w-richtext">
                        <p>The Urban Big Data Centre (UBDC) uses cookies to ensure the website functions correctly, to
                            provide enhancing features and to analyse website performance. We may share information
                            about your use of our website with our social media and analytics partners who may combine
                            it with other information that you’ve provided to them or that they’ve collected from your
                            use of their services.</p>
                        <p>‍</p>
                        <p>Cookies are small text files stored on your browser and they contain certain information
                            about you, or your website behaviour, such as your language preferences or whether you are a
                            new or returning user to our website. This allows us to give you a better website
                            experience.</p>
                        <p>‍</p>
                        <p>The UBDC data catalogue uses a combination of first- and third-party cookies. First party
                            cookies are placed on your browser by the same website you are on (www.data.ubdc.ac.uk),
                            while third party cookies are placed on your browser by a different website than the one you
                            are on (i.e. Twitter).</p>
                        <h2><strong>Cookies table</strong></h2>
                        <div class="w-embed">
                            {% snippet "cookie/snippets/table.html"%}
                        </div>
                        <h2><strong>How to manage cookies</strong></h2>
                        <p>At UBDC we respect your right to privacy, that is why we require your consent to use any
                            non-essential cookies. However, not allowing certain type of cookies may impact how the
                            website works. You can choose your cookies preference by using the <strong
                                fs-cc="open-preferences" class="text-color-dark-green cursor-pointer"><span
                                    class="cursor-pointer link-selected text-primary"
                                    onclick="document.getElementById('ccc-icon').click()">consent preference
                                    centre</span></strong> on the website (or clicking on the cookie button at the
                            bottom....).</p>
                        <p>‍</p>
                        <p>Learn more about who we are, how you can contact us and how we process personal data in our
                            <a href="/cookie-policy" class="text-color-dark-green text-derocation-none"><strong><span
                                        class="link-selected text-primary">Privacy
                                        Policy</span>.</strong></a><strong> </strong>
                        </p>
                        <p>‍</p>
                        <p>Your consent applies to the following domains: www.data.ubdc.ac.uk. Please state your
                            <strong>consentID </strong>and date when you contact us regarding your consent.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>