<section class="hero">
    <div class="container-fluid full-width no-padding">
        <section class="section_small-hero">
            <div class="padding-global">
                <div class="container-small">
                    <div class="padding-section-medium bigger">
                        <div id="w-node-_09f83c5a-ade6-8e1e-75d4-65a44ee76ef5-d8ccfebb"
                            data-w-id="09f83c5a-ade6-8e1e-75d4-65a44ee76ef5"
                            style="opacity: 1; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                            class="text-align-center">
                            <h1 id="w-node-_3c0e2350-80fe-18d6-6267-e7b47388930c-d8ccfebb"
                                class="hero_head margin-right margin-custom1">Cookies Policy Page</h1>
                        </div>
                    </div>
                </div>
            </div><img
                src="https://cdn.prod.website-files.com/65830311be3dfffd373f53bc/65830311be3dfffd373f5470_Group%2032%20(2).svg"
                loading="lazy" alt="" class="hero_bg-img left"><img
                src="https://cdn.prod.website-files.com/65830311be3dfffd373f53bc/65830311be3dfffd373f5471_Group%2031%20(2).svg"
                loading="lazy" alt="" class="hero_bg-img right">
        </section>
    </div>
</section>