<div id="cookies-table">
    <table>
        <thead>
            <tr>
                <th>Cookie</th>
                <th>Purpose</th>
                <th>More information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>_ga</td>
                <td>A Google Analytics cookie which helps us understand how
                    visitors are using our website, so we can make it more useful.<br>
                    Lifespan: Persistent</td>
                <td>Tracks the number of times a visitor has been to our website,
                    when their first visit was, and when their last visit
                    occurred.</td>
            </tr>
            <tr>
                <td>_ga_*</td>
                <td>A Google Analytics cookie which helps us understand how
                    visitors are using our website, so we can make it more useful.<br>
                    Lifespan: 30 minutes</td>
                <td>Tracks approximately how long a visitor stays on our
                    website.</td>
            </tr>
            
            <tr>
                <td>ckan</td>
                <td>A cookie used to have ckan related functionality.<br>
                    Lifespan: Until Logged Out</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>auth_tkt</td>
                <td>A cookie used to enable customised options for a logged in
                    user.<br>
                    Lifespan: Until Logged Out</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>CookieControl</td>
                <td>A cookie used to understand the consent of user for cookie acceptance.<br>
                    Lifespan: At end of session</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>

</div>