{% ckan_extends %}

{% set ga_tag_id  = ['ga-dataset-', package.name] | join('') %}  

{% block heading_title %}
    {{ h.link_to(h.truncate(title, truncate_title), h.url_for('%s.read' % package.type, id=package.name ), id=ga_tag_id) }}
{% endblock %}


{% block resources_inner %}
    {% for resource in h.dict_list_reduce(package.resources, 'format') %}
    <li>
        <a id={{ga_tag_id}} href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="label label-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
    </li>
    {% endfor %}
{% endblock %}
