{% ckan_extends %}

{% block meta %}
    {{ super() }}
  <meta property="og:title" content="Login - {{ g.site_title }}">
  <meta property="og:description" content="Access your Urban Big Data Centre account for a personalized data catalogue experience. Registered users can download datasets, submit new data, and customize their research toolkit. Join us to advance your urban research journey.">
  <meta name="description" content="Access your Urban Big Data Centre account for a personalized data catalogue experience. Registered users can download datasets, submit new data, and customize their research toolkit. Join us to advance your urban research journey.">
  <meta name="og:image" content="{{ h.url_for_static_or_external('/base/images/banner.png') }}">
  <meta name="twitter:title" content="Login - {{ g.site_title }}">
  <meta name="twitter:description" content="Access your Urban Big Data Centre account for a personalized data catalogue experience. Registered users can download datasets, submit new data, and customize their research toolkit. Join us to advance your urban research journey.">
  <meta name="twitter:image" content="{{ h.url_for_static_or_external('/base/images/banner.png') }}">
  <meta name="twitter:card" content="summary_large_image">
  {% endblock %}