// This file is needed in order for `gulp build` to compile in less 1.3.1+
.issues-actions {
    .btn {
        font-size: 16px;
    }
}

.repeated_dataset_fields {
    overflow: hidden;
    .card-body {
        padding-left: 20px;
    }
}
.view_more_fields {
    text-decoration: underline;
}
.repeated_dataset_fields.more {
    overflow: hidden;
}

.beta-message {
    background: #d5580d;
    color: #fff;
    font-weight: 400;
    display: flex;
    padding: 4px 0;
    font-size: 14px;
    margin: 0;
    padding-left: 30%;
    .beta-message-close {
        background: none;
        border: none;
        margin-top: -8px;
        font-weight: 900;
        font-size: 18px;
    }
    a {
        color: #fff;
        text-decoration: underline;
    }
}

// small screen
@media (max-width: 767px) {
    .beta-message {
        padding-left: 40%;
    }
}
