.homepage {
  padding: 0px 0px;
  .btn {
    padding: 15px 30px;
  }
  .small-button {
    padding: 12px 20px 12px 24px;
    font-size: 14px;
    background-color: #c2410c;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
  }
  //   .small-button:hover {
  //     opacity: 0.9;
  //   }
  .hero {
    min-height: 480px;
    height: $hero-height;
    background: transparent;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e7;
    .wrap {
      display: flex;
      justify-content: center;
      .search-form {
        width: 60%;
        button {
          //   background-color: #05011f;
          top: 0;
          right: 0;
          margin-top: 0;
          padding: 28px 15px;
          display: flex;
          align-items: center;
        }
        border: 0;
      }
    }
    .dataset-explore-btn {
      background-color: $orange-shade;
      font-weight: 400;
      font-size: 16px;
      text-transform: capitalize;
      margin-top: 3rem;
      padding: 12px 20px;
    }
  }

  .newsletter {
    background-image: url("../../../base/images/newsletter.webp");
    background-color: $dark-green-bg-primary;
    color: #fff;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 3rem;
    overflow: hidden;
    .container-small {
      width: 100%;
      max-width: 48em;
      margin: auto;
      .padding-section-medium {
        padding-top: 5em;
        padding-bottom: 5em;
        position: relative;
        .head-h2 {
          letter-spacing: -0.175vw;
          margin-top: 0;
          margin-bottom: 1vw;
          font-size: 3.5em;
          font-weight: 700;
          line-height: 114.286%;
        }
        .cta_paragraph {
          color: #fff;
          text-align: center;
          letter-spacing: -0.0275rem;
          width: 100%;
          max-width: 47vw;
          margin-bottom: 2vw;
          margin-left: auto;
          margin-right: auto;
          font-size: 1.375em;
          font-weight: 500;
          line-height: 145.455%;
        }

        .btn-newsletter {
          letter-spacing: -0.01rem;
          border-radius: 0.25em;
          min-height: 3em;
          padding: 0.75em 1.5em;
          font-size: 1em;
          font-weight: 600;
          line-height: 1.5;
          transition: all 0.3s;
        }
      }
    }

    .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        &:nth-child(2) {
          width: 40%;
        }
        h5 {
          font-size: 1.375em;
        }
        h1,
        h5,
        p {
          font-weight: 300;
        }
      }
    }
  }

  .theme {
    background-image: url("#{$imagePath}/research-left.png"),
      url("#{$imagePath}/research-right.png");
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 18%;
    background-color: #ffffff;
    border-bottom-style: none;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    border-bottom: 1px solid #dfe1e7;

    .wrap .row {
      margin-bottom: 20px;
    }

    .block {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem 8rem;
    }

    .panel {
      height: 100px;
      margin: 1.5rem 0rem;
      border-radius: 12px;
      .panel-body {
        padding: 0.5rem;
        .media {
          padding: 10px;
          .media-left {
            img {
              height: 70px;
            }
          }
          .media-body {
            text-align: left;
            padding-left: 0.5rem;
            position: relative;
            .explore-btn {
              border: 1px solid #c1c7d0;
              position: absolute;
              bottom: 0;
              font-weight: 400;
              border-radius: 8px;
              padding: 5px 10px;
              font-size: 14px;
              text-transform: capitalize;
              &:hover {
                background-color: transparent;
              }
            }
          }
          .media-heading {
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            cursor: default;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .media-body {
        text-align: left;
        padding-left: 1rem;
      }
    }
    .explore-btn {
      margin-top: 10px; /* Space above the button */
    }
  }

  .stats {
    background: url("#{$imagePath}/stats.png");
    background-repeat: no-repeat;
    background-color: #effefa;
    background-position: 50% 100%;
    background-size: contain;
    border-bottom: 1px solid #dfe1e7;
    flex-direction: column;
    justify-content: center;
    height: 300px;

    .wrap .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 35vh;
    }
    .stat-number {
      font-size: 44px;
      font-weight: 500;
      margin: 0;
      color: #000000;
      line-height: 32px;
    }
    .stat-label {
      text-transform: capitalize;
      font-size: 24px;
      font-weight: 200;
      line-height: 32px;
      padding-top: 1rem;
    }

    .title {
      border-right: 1px solid #cccccc;
      padding-right: 20px;

      h4 {
        font-weight: 700;
        font-size: 16px;
        padding: 0;
        margin: 0;
        text-align: right;
      }
      h3 {
        font-weight: 700;
        font-size: 24px;
        padding: 0;
        margin: 0;
        text-align: right;
        display: block;
      }
      span {
        font-weight: 100;
        font-size: 16px;
        padding: 0;
        margin: 0;
        text-align: right;
        display: block;
      }
    }
  }

  .popular-dataset {
    background-image: url("#{$imagePath}/most-popular-datasets.webp");
    background-repeat: no-repeat;
    background-color: #f2f1fe;
    background-position: 50% 100%;
    background-size: contain;
    border-bottom-style: none;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    .col-md-4 {
      &:nth-child(1) {
        .icon {
          background: $brandPrimary;
        }
        .item {
          border-color: $brandPrimary;
        }
      }
      &:nth-child(2) {
        .icon {
          background: #8869ae;
        }
        .item {
          border-color: #8869ae;
        }
      }
      &:nth-child(3) {
        .icon {
          background: #00b3dc;
        }
        .item {
          border-color: #00b3dc;
        }
      }
    }
    .title {
      display: flex;
      justify-content: center;
      position: relative;
      font-weight: 700;
      font-size: 23px;
      color: #fff;
      text-transform: uppercase;
      padding-top: 70px;
      padding-bottom: 70px;
      h3 {
        font-size: 23px;
        text-transform: capitalize;
        color: $black;
      }
    }
    .icon {
      position: absolute;
      top: -25px;
      left: 30px;
      background: $brandPrimary;
      padding: 10px;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      img {
        color: #fff;
        width: 20px;
      }
    }
    .item {
      span {
        color: #02152b;
        font-size: 24px;
        padding-bottom: 11px;
      }
      p {
        padding-top: 12px;
        min-height: 13rem;
        max-height: 13rem;
        overflow: hidden;
        color: $black;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }
      font-weight: 400;
      font-size: 16px;
      background: #fff;
      border-top: 3px solid;
      padding: 30px;
      border-color: #8869ae;
      height: 30rem;
      max-height: 30rem;
      overflow: hidden;
    }
    .more {
      text-align: center;
      padding: 30px;
      a {
        color: $black;
        font-size: 23px;
        padding-bottom: 11px;
      }
    }
  }

  .latest-dataset {
    border-bottom: 1px solid #dfe1e7;
    .full-height {
      height: 520px;
      align-items: center;
    }

    .fix-size-dataset-card {
      padding: 3rem;
    }

    .dataset-card-height {
      height: 520px;
      display: flex;
      align-items: center;
    }

    .dataset-tagline {
      font-size: 16px;
    }
    h1 {
      font-size: xxx-large;
    }

    .dataset-explore-btn {
      background-color: $orange-shade;
      font-weight: 400;
      font-size: 14px;
      text-transform: capitalize;
      border: none;
      margin-top: 3rem;
      padding: 12px 20px;
    }

    .left {
      background-image: url("#{$imagePath}/latest-right.png"),
        url("#{$imagePath}/latest-left.png");
      background-position: left bottom, right bottom;
      background-repeat: no-repeat, no-repeat;
      background-size: auto, auto;
      background-color: #fff7ed;
      border-bottom-style: none;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      padding-bottom: 0;
    }

    .right-popular-dataset {
      background-image: url("#{$imagePath}/popular-right.png"),
        url("#{$imagePath}/popular-left.png");
      background-position: left bottom, right bottom;
      background-repeat: no-repeat, no-repeat;
      background-size: auto, auto;
      background-color: $popular-dataset;
      border-bottom-style: none;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      padding-bottom: 0;
    }
    .panel {
      height: 104px;
      margin: 20px;
      border-radius: 12px;
      .panel-body {
        padding: 0;
        .media {
          padding: 10px;
          .media-body {
            text-align: left;
            padding-left: 1rem;
            position: relative;
            .explore-btn {
              border: 1px solid #c1c7d0;
              position: absolute;
              bottom: 0;
              font-weight: 400;
              border-radius: 8px;
              padding: 5px 10px;
              font-size: 16px;
              text-transform: capitalize;
              &:hover {
                background-color: transparent;
              }
            }
          }
          .media-heading {
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            cursor: default;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .media-body {
        text-align: left;
        padding-left: 1rem;
      }
    }
  }

  .themes {
    .title {
      display: flex;
      justify-content: center;
      position: relative;
      font-weight: 700;
      color: #000000;
      text-transform: uppercase;
      padding-top: 70px;
      padding-bottom: 50px;
      h3 {
        font-size: 23px;
      }
    }
    .col {
      padding: 10px;
      .item {
        padding: 20px 20px 20px 0;
        background: #edeced;
        .media {
          .btn-primary {
            border: 2px solid #f37021;
            box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
          }

          .count {
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            position: absolute;
            left: 10px;
            top: 10px;
            background-color: rgba(54, 2, 51, 0.7);
            color: #fff;
            padding: 4px 10px;
            border-radius: 5px;
          }
          img {
            width: 180px;
          }
        }
      }
      &:nth-child(-n + 3) {
        .item {
          padding: 20px 0px 20px 20px;
          .media {
            .count {
              position: absolute;
              right: 10px;
              background-color: rgba(54, 2, 51, 0.7);
              top: 10px;
              left: unset;
              color: #fff;
              padding: 4px 10px;
              border-radius: 5px;
              img {
                width: 180px;
              }
            }
          }
        }
      }
    }
    .more {
      text-align: center;
      padding: 30px;
      a {
        color: #000000;
        font-size: 23px;
        padding-bottom: 11px;
      }
    }
  }

  .providers {
    background: #fff;
    .wrap {
      margin: 3rem 0;
    }
    h2 {
      color: #000000;
      text-align: center;
      padding: 30px 0;
      font-weight: 700;
      font-size: 23px;
    }
    .logo-grid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      padding: 4rem;
      &__item {
        padding: 15px;
        width: 180px;
        margin: 0 auto;
        text-align: center;
        img {
          max-width: 100%;
          object-fit: scale-down;
          &:hover {
            filter: grayscale(0%) contrast(1);
          }
        }
      }
    }
    .more {
      text-align: center;
      padding: 30px;
      a {
        color: #000000;
        font-size: 23px;
        padding-bottom: 11px;
      }
    }
  }
  .features {
    h4 {
      font-weight: 600;
      font-size: 18px;
      color: #000000;
    }
    font-size: 16px;
    padding: 55px 0;
  }

  .funding {
    // border-top: 1px solid #edeced;
    background-color: $aqua-bg-primary;
    .container-medium {
      width: 100%;
      max-width: 70em;
      margin: auto;
    }
    h3 {
      letter-spacing: -0.045vw;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.333;
    }
    .funded_divider {
      background-color: #a4acb9;
      width: 0.0625em;
      height: 5em;
    }
    .funded_logo {
      grid-column-gap: 5em;
      grid-row-gap: 3em;
      height: 4em;
      font-size: 1em;
      line-height: 1.5;
      display: flex;
      img {
        object-fit: contain;
        max-width: 11em;
      }
    }
    .wrap {
      padding-top: 3em;
      padding-bottom: 3em;
    }
    .funded-wrapper {
      grid-column-gap: 4em;
      grid-row-gap: 4em;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .logo-grid {
      padding-left: 40px;
      padding-top: 2rem;
      display: flex;
      &__item {
        padding-right: 20px;
        width: 245px;
        margin: 0 auto;
        text-align: center;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  .homepage {
    .hero {
      .container {
        width: 100%;
      }
    }
    .newsletter {
      .wrap {
        flex-direction: column;
        div {
          &:nth-child(2) {
            width: 80%;
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }
    }
    .stats {
      .stat-number {
        font-size: 20px;
      }
      .stat-label {
        font-size: 14px;
      }
    }

    .popular-dataset {
      .col-md-4 {
        margin-bottom: 60px;
        .icon {
          left: 43%;
        }
      }
    }

    .features {
      .col-md-4 {
        margin-bottom: 20px;
      }
    }

    .funding {
      .logo-grid {
        flex-direction: column;
        img {
          padding: 10px;
        }
      }
      .funded_divider {
        display: none;
      }
      .funded-wrapper {
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        flex-direction: column;
      }
      .funded_logo {
        grid-column-gap: 1.5em;
        grid-row-gap: 1.5em;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        img {
          object-fit: contain;
          max-width: 11em;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  .homepage .hero .wrap .search-form {
    width: 100%;
  }
}

.m-auto {
  margin: auto;
}

.p-5 {
  padding: 5px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $hero-height;
  text-align: center;
}

.hero-h1 {
  font-size: 56px;
}

.hero-font {
  width: 520px;
  margin: 0 auto;
  text-align: left;
  color: $heading-black-shade;
}

.hero-text {
  font-size: 18px;
  color: $text-black-shade;
}

.btn-orange-shade {
  margin-top: 2rem;
  background: $orange-shade;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.btn-orange-shade:hover {
  color: #fff;
  background: $orange-shade;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  position: relative;
  right: 20px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: url(/base/images/close.svg) no-repeat 50% 50%;
  background-size: contain;
}

.bg-blue-400 {
  background: $blue-400 !important;
}

.explore-content {
  .lead {
    font-size: 1.3rem;
    font-weight: 400;
    color: $text-black-shade;
  }
  .wrap {
    width: 90%;
    margin: auto;
  }
  border-bottom: 1px solid #dfe1e7;
  padding-bottom: 8rem;
  .explore-card {
    height: 460px;
    border: 1px solid #dfe1e7;
    border-radius: 12px;
    padding: 1rem;
  }
  .card-img-top-wrapper {
    height: 190px;
    overflow: hidden;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  .card-text {
    font-size: 1.5rem;
    color: #666d80;
  }
  .btn-readmore {
    background-color: transparent;
    border: 1px solid #dfe1e7;
    color: #0d0812;
    text-transform: capitalize;
    padding: 1rem;
    position: absolute;
    font-size: 1.25rem;
    bottom: 1.5rem;
  }
}
