// Base variables
$imagePath: "../../../base/images";
$spritePath: "#{$imagePath}/sprite-ckan-icons.png";
$bgPath: "#{$imagePath}/bg.png";
$FontAwesomePath: "../../../base/vendor/font-awesome/font";
@import url("../../../base/fonts/stylesheet.css");

// Branding colors
$brandPrimary: #f37021;
$black: #000000;
$whiteBackground: #ffffff;
$colorWhite: #ffffff;
$transparent: "transparent";

// Font Variables
$font-size-xxlarge: 1.2em;
$font-size-xlarge: 1.2em;
$font-size-large: 1.375em;
$font-size-medium: 16px;
$font-size-small: 0.8em;
$font-size-xsmall: 0.6em;
$font-size-xxsmall: 0.4em;
$font-size-xxxsmall: 0.2em;

// Layout Variables
$layoutFontFamily: "Open Sans", sans-serif;
$layoutTextColor: #000;
$layoutBoldColor: #000;
$layoutLinkColor: $brandPrimary;
$layoutBackgroundColor: #eee;
$layoutTrimBackgroundColor: #fff;
$layoutTrimBorderColor: #ccc;
$logoMaxHeight: 60px;

$navLinkColor: #000;
$navActiveBackgroundColor: #f6f6f6;

// Module Variables
$moduleBackgroundColor: #fff;
$moduleHeadingBorderColor: #ddd;
$moduleHeadingBackgroundColor: #f6f6f6;
$moduleHeadingActionTextColor: #888;
$moduleExpandedBackgroundColor: rgba(255, 255, 255, 0.9);

$tabTextColor: #111;
$tagBackgroundColor: #f6f6f6;

$gutterX: 25px;
$gutterY: 20px;
$gutterSmallX: 15px;
$gutterSmallY: $gutterY;

$emptyTextColor: #000000;
$genericBorderColor: #ddd;

$breadcrumbTextColor: #000000;

$mastheadTextColor: #fff;
$mastheadLinkColor: $mastheadTextColor;
$mastheadBackgroundColor: $black;
$mastheadBackgroundColorStart: #005d7a;
$mastheadBackgroundColorEnd: #00536b;

$navItemActiveTextColor: #fff;
$navItemActiveBackgroundColor: #647a82;
$navItemActiveArrowSize: 6px;

$pillTextColor: $navItemActiveTextColor;
$pillBackgroundColor: darken($navItemActiveBackgroundColor, 10%);

$bannerTextColor: $mastheadTextColor;
$bannerBackgroundColor: $mastheadBackgroundColor;

$footerTextColor: #ccdee3;
$footerLinkColor: $footerTextColor;

$inputColor: $gray-base;
$inputBackground: $body-bg;
$inputBorder: #ccc;
$inputBorderRadius: 3px;
$disabledCustomInputTextColor: #aaa;
$disabledCustomInputBackground: #f3f3f3;

$highlightBackground: #fdf7e9;
$highlightHoverBackground: #fdf3d9;

// Forms

$errorText: #b55457;
$errorBackground: lighten(#c6898b, 30%);
$errorBorder: #c6898b;

$formInfoText: #707070;

$stagesTextColor: #aeaeae;
$stagesBackground: #ededed;
$stagesTransparentBackground: rgba(237, 237, 237, 0); // Used for arrows.
$stagesActiveTextColor: #fff;
$stagesActiveBackground: #8cc68a;
$stagesActiveTransparentBackground: rgba(140, 198, 138, 0);
$stagesCompleteTextColor: #eef6ed;
$stagesCompleteBackground: #c5e2c4;
$stagesCompleteTransparentBackground: rgba(197, 226, 196, 0);
$stagesCounterTextColor: #fff;
$stagesCounterBackground: #aeaeae;
$stagesCounterActiveTextColor: #8cc68a;
$stagesCounterActiveBackground: #fff;
$stagesCounterCompleteTextColor: #c5e2c4;
$stagesCounterCompleteBackground: #eef6ed;

$codeTextColor: #000;

// Datasets

$listingHeadingTextColor: #333;
$resourceFormatBackground: #6e6e6e;

// Table

$chunkyTableHeaderTextColor: #fff;
$chunkyTableHeaderBackgroundColor: #aaa;
$chunkyTableStripeBackgroundColor: #f2f2f2;

// Twitter Bootstrap Overrides
$bodyBackground: $layoutBackgroundColor;
$btnBackground: #ffffff;
$btnBackgroundHighlight: #eaeaea;
$btnPrimaryBackground: $brandPrimary;
$btnPrimaryBackgroundHighlight: $brandPrimary;
$baseFontFamily: $layoutFontFamily;
$textColor: $layoutTextColor;
$linkColor: $layoutLinkColor;
$iconSpritePath: "../images/bootstrap-glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/bootstrap-glyphicons-halflings-white.png";

// Activity Stream base colors
$activityColorText: #ffffff;
$activityColorBlank: #999999;
$activityColorNew: #69a67a;
$activityColorNeutral: #767dce;
$activityColorModify: #767dce;
$activityColorDelete: #b95252;

// Navigation
$zindex-navbar: 1;

$dark-overlay-color: rgba(0, 0, 0, 0.04);

$dark-green-bg-primary: #061b16;

$aqua-bg-primary: #effefa;

$blue-100: #1f69ff;
$blue-200: #093bae;
$blue-300: #07247e;
$blue-400: #6534DF;


// New from the Mockups
$heading-black-shade: #04040f;
$text-black-shade: #36394a;

$orange-shade: #c2410c;
$hero-height: 500px;
$dark-green: #184e44;
$light-gray: #f2f2f2;
$medium-gray: #ccc;
$lighter-gray: #eee;
$popular-dataset: #f2f1fe;
