{% block footer_content %}
<footer class="site-footer">
    <div class="container">
        <div class="site-footer__links">
            <div class="site-footer__col-2">
                <h4>About UBDC</h4>
                <ul class="footer__list">
                    <li><a href="https://ubdc.ac.uk/about-ubdc/our-work/" target="_blank">Overview</a></li>
                    <li><a href="https://ubdc.ac.uk/about-ubdc/who-we-are/team-profiles/">Who We Are</a></li>
                </ul>
            </div>
            <div class="site-footer__col-2">
                <h4>Research</h4>
                <ul class="footer__list">
                    <li><a href="https://ubdc.ac.uk/research/research-projects/" target="_blank">Research Projects</a>
                    </li>
                    <li><a href="https://ubdc.ac.uk/research/publications/">Publications</a></li>
                </ul>
            </div>
            <div class="site-footer__col-2">
                <h4>Data</h4>
                <ul class="footer__list">
                    <li><a href="https://ubdc.ac.uk/data-services/data-services/" target="_blank">Data Services</a></li>
                    <li><a href="https://ubdc.ac.uk/data-services/data-catalogue/" target="_blank">Data Catalogue</a>
                    </li>
                    <li><a href="https://ubdc.ac.uk/data-services/current-projects/" target="_blank">Current
                            Projects</a></li>
                </ul>
            </div>
            <div class="site-footer__col-2">
                <h4>Making Impact</h4>
                <ul class="footer__list">
                    <li><a href="https://ubdc.ac.uk/making-impact/case-studies/" target="_blank">Case Studies</a></li>
                </ul>
            </div>
            <div class="site-footer__col-2">
                <h4>Education &amp; Events</h4>
                <ul class="footer__list">
                    <li><a href="https://ubdc.ac.uk/education-and-events/education/msc-programmes/"
                            target="_blank">Education</a></li>
                    <li><a href="https://ubdc.ac.uk/education-and-events/events-and-courses/upcoming-events/"
                            target="_blank">Events &amp; Courses</a></li>
                    <li><a href="https://ubdc.ac.uk/education-and-events/online-learning/online-tutorials/"
                            target="_blank">Online Tutorials</a></li>
                    <li><a href="https://ubdc.ac.uk/education-and-events/presentations-resources/"
                            target="_blank">Presentations
                            &amp; Resources</a></li>
                </ul>
            </div>
            <div class="site-footer__col-2">
                <div class="social">
                    <h4>Connect</h4>
                    <a class="icon" target="_blank"
                        href="http://www.linkedin.com/company/urban-big-data-centre-at-the-university-of-glasgow">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="icon" target="_blank" href="http://www.youtube.com/channel/UCbsNz3aLR9qb9iWt8b-MOCQ">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <a class="icon" target="_blank" href="http://www.twitter.com/UrbanBigData">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="icon" target="_blank" href="http://www.facebook.com/urbanbigdata">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="site-footer__social">
            <h4>Connect</h4>
            <div class="site-footer__social_warp">
                <a class="icon" target="_blank"
                    href="http://www.linkedin.com/company/urban-big-data-centre-at-the-university-of-glasgow">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="icon" target="_blank" href="http://www.youtube.com/channel/UCbsNz3aLR9qb9iWt8b-MOCQ">
                    <i class="fa fa-youtube"></i>
                </a>
                <a class="icon" target="_blank" href="http://www.twitter.com/UrbanBigData">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="icon" target="_blank" href="http://www.facebook.com/urbanbigdata">
                    <i class="fa fa-facebook"></i>
                </a>

            </div>


        </div>
    </div>
</footer>
{% endblock %}

{% block footer_attribution %}
<div class="site-footer__bottom">
    <div class="container">
        <div class="warp">
            <div class="footer__col-links">
                <ul>
                    <li>
                        <a href="https://ubdc.ac.uk/about-ubdc/get-in-touch/">Contact Us</a>
                    </li>
                    <li>
                        <a href="https://ubdc.ac.uk/accessibility/">Accessibility</a>
                    </li>
                    <li>
                        <a href="https://ubdc.ac.uk/privacy-and-cookies/">Privacy
                            &amp; Cookies</a>
                    </li>
                    <li>
                        <a href="https://ubdc.ac.uk/comments-policy/">Comments Policy</a>
                    </li>
                </ul>
            </div>
            <div>
                <span>© Copyright 2022 University of Glasgow</span>
            </div>
        </div>
        <div class="attribution"> 
            <p>Developed by <a href="https://www.datopian.com/" target="_blank">Datopian.</a></p>
            <p>Powered by <a href="http://ckan.org/" target="_blank">CKAN.</a></p>
        </div>
    </div>
</div>
{% endblock %}