{% ckan_extends %}

{% block meta %}
    {{ super() }}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - Dataset - {{ g.site_title }}">
  <meta property="og:description" content="Dive into a vast array of urban datasets in the Urban Big Data Centre's catalogue. From demographics to transportation, our curated collection supports diverse research and analysis needs, facilitating groundbreaking studies in urban development and planning.">
  <meta name="description" content="Dive into a vast array of urban datasets in the Urban Big Data Centre's catalogue. From demographics to transportation, our curated collection supports diverse research and analysis needs, facilitating groundbreaking studies in urban development and planning.">
  <meta name="og:image" content="{{ h.url_for_static_or_external('/base/images/banner.png') }}">
  <meta name="twitter:title" content="{{ h.dataset_display_name(pkg) }} - Dataset - {{ g.site_title }}">
  <meta name="twitter:description" content="Dive into a vast array of urban datasets in the Urban Big Data Centre's catalogue. From demographics to transportation, our curated collection supports diverse research and analysis needs, facilitating groundbreaking studies in urban development and planning.">
  <meta name="twitter:image" content="{{ h.url_for_static_or_external('/base/images/banner.png') }}">
  <meta name="twitter:card" content="summary_large_image">
  {% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.id if is_activity_archive else pkg.name, icon='') }}
  {{ h.build_nav_icon(dataset_type ~ '.groups', _('Groups'), id=pkg.id if is_activity_archive else pkg.name, icon='') }}
  <!-- {{ h.build_nav_icon(dataset_type ~ '.activity', _('Activity Stream'), id=pkg.id if is_activity_archive else pkg.name, icon='') }} -->
{% endblock %}

{% block package_info %}
<!-- Need to hide -->
{% endblock %}

{% block package_social %}
    
{% endblock %}

