<section class="features">
    <div class="container">
        <div class="wrap">
            <div class="col-md-4">
                <h4>WORLD-LEADING URBAN RESEARCH</h4>
                <p>We deliver outstanding science which has demonstrable impacts on public policy, society and industry.
                </p>
            </div>
            <div class="col-md-4">
                <h4>WORLD-LEADING URBAN RESEARCH</h4>
                <p>We deliver outstanding science which has demonstrable impacts on public policy, society and industry.
                </p>
            </div>
            <div class="col-md-4">
                <h4>WORLD-LEADING URBAN RESEARCH</h4>
                <p>We deliver outstanding science which has demonstrable impacts on public policy, society and industry.
                </p>
            </div>
        </div>

    </div>
</section>