<section class="funding">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Jointly Funded By</h2>
            <div class="logo-grid">
                <div class="logo-grid__item">
                    <a href="http://www.esrc.ac.uk/">
                        <img src="/base/images/funding/ukri_esr_council.png" alt="UKRI ESR Council" width="245" height="60">
                    </a>
                </div>
                <div class="logo-grid__item">
                    <a href="https://www.gla.ac.uk/">
                        <img src="/base/images/funding/university-glasgow.gif.svg" alt="Univeristy Glasgow" width="245" height="75">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>