<section class="funding">
  <div class="padding-global">
    <div class="container-medium">
      <div class="wrap">
        <div class="funded-wrapper">
          <h3>Jointly Funded By</h3>
          <div class="funded_divider"></div>
          <div class="funded_logo">
            <img
              src="/base/images/funding/smart_data_research.png"
              loading="lazy"
              alt="Smart Data Research Logo"
              class="img-100 is-contain"
            /><img
              src="/base/images/funding/uk_research_and_innovation.png"
              loading="lazy"
              alt="UK Research and Innovation logo"
              class="img-100 is-contain"
            /><img
              src="/base/images/funding/university_of_glassglow.svg"
              loading="lazy"
              alt="university of glasgow logo"
              class="img-100 is-contain"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
