<section class="funding">
    <div class="container">
        <div class="wrap">
            <h4>JOINTLY FUNDED BY</h4>
            <div class="logo-grid">
                <div class="logo-grid__item">
                    <a href="http://www.esrc.ac.uk/">
                        <img src="/base/images/funding/ukri_esr_council.svg" alt="ACT Government">
                    </a>
                </div>
                <div class="logo-grid__item">
                    <a href="https://www.gla.ac.uk/">
                        <img src="/base/images/funding/university-glasgow.gif.svg" alt="ACT Government">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>