<section class="newsletter">
  <div class="container-small text-center">
    <div class="padding-section-medium">
      <div class="newsletter-heading">
        <h2 class="head-h2">UBDC Newsletter</h2>
        <p class="cta_paragraph">
            Subscribe to our quaterly newsletter for all our latest news, events
            and data updates.
        </p>
      </div>
      <div class="">
        <a class="btn btn-primary btn-newsletter" href="{{h.get_newsletter_link()}}"
          >SIGN UP</a
        >
      </div>
    </div>
  </div>
</section>
