<section class="theme">
    <div class="container">
        <div class="wrap">
            <!-- Centered Heading -->
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Research Themes</h1>
                </div>
            </div>

            <!-- Dataset Cards -->
            <div class="row block">
                {% for theme in h.get_featured_groups(5) %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="media">
                            <div class="media-left">
                              {% if loop.index == 1 %}
                              <img src="/base/images/icons/bus.png" alt="Bus" />
                              {% elif loop.index == 2 %}
                              <img src="/base/images/icons/home.png" alt="Home" />
                              {% elif loop.index == 3 %}
                              <img src="/base/images/icons/bag.png" alt="Bag" />
                              {% elif loop.index == 4 %}
                              <img src="/base/images/icons/leaf.png" alt="Leaf" />
                              {% elif loop.index == 5 %}
                              <img src="/base/images/icons/leaf.png" alt="Leaf" />
                              {% elif loop.index == 6 %}
                              <img src="/base/images/icons/leaf.png" alt="Leaf" />
                              {% endif %}
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">
                                {% set title = theme.title %}
                                {% set trimmed_text = title|trim %}
                                {% if trimmed_text|length > 25 %}
                                    {{ trimmed_text[:25] ~ "..." }}
                                {% else %}
                                    {{ trimmed_text }}
                                {% endif %}
                              </h4>
                              <a href="/research-themes/{{ theme.name }}" class="btn btn-default btn-sm explore-btn">
                                Explore Research Theme <span class="arrow">→</span>
                              </a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
