{% ckan_extends %}

{% block resource_item_explore %}
{% if res['type'] and res['type'] == 'resource' %}
<div class="resource-button">
    <a class="btn btn-primary" href="{{ url }}">
        {% if not is_activity_archive and res.has_views %}
        <i class="fa fa-bar-chart-o"></i>
        {{ _('Preview') }}
        {% else %}
        <i class="fa fa-info-circle"></i>
        {{ _('More information') }}
    </a>
    {% endif %}
    <a class="btn btn-primary" href="{{ res.url }}" class="resource-url-analytics" target="_blank" rel="noreferrer">
        {% if res.has_views or res.url_type == 'upload' %}
        <i class="fa fa-arrow-circle-o-down"></i>
        {{ _('Download') }}
        {% else %}
        <i class="fa fa-external-link"></i>
        {{ _('Go to resource') }}
        {% endif %}
    </a>
    {% if can_edit %}

    <a href="{{ h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id) }}" class="btn btn-primary">
        <i class="fa fa-pencil-square-o"></i>
        {{ _('Edit') }}
    </a>
    {% endif %}
</div>
{% else %}
<div class="resource-button">
    <a class="btn btn-primary" href="{{ res.url }}">
        <i class="fa fa-eye"></i>
        {{ _('View') }}
    </a>
    {% if can_edit %}
    <a href="{{ h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id) }}" class="btn btn-primary">
        <i class="fa fa-pencil-square-o"></i>
        {{ _('Edit') }}
    </a>
    {% endif %}
</div>
{% endif %}
{% endblock %}